{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block body %}

    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Личный кабинет</span>
            </a>
            <span class="ms-md-auto">Баланс 120 руб.</span>
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">Услуги</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">История</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">Пополнить баланс</a>
            </nav>
        </div>
    </header>

    <main>

        <h2 class="display-6 text-center mb-4">Подключенные услуги</h2>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Услуга</th>
                    <th scope="col">Ед. измерения</th>
                    <th scope="col">Цена за ед.</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Вывоз мусора</th>
                    <td>Человек</td>
                    <td>100 руб.</td>
                    <td>2</td>
                    <td>200 руб.</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm">Отключить</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Лифт</th>
                    <td>Этаж</td>
                    <td>20 руб.</td>
                    <td>8</td>
                    <td>160 руб.</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm">Отключить</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Домофон</th>
                    <td>Квартира</td>
                    <td>150 руб.</td>
                    <td>1</td>
                    <td>150 руб.</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm">Отключить</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Видеонаблюдение</th>
                    <td>Квартира</td>
                    <td>400 руб.</td>
                    <td>1</td>
                    <td>400 руб.</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm">Отключить</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Горячая вода</th>
                    <td>куб.м.</td>
                    <td>300 руб.</td>
                    <td>10</td>
                    <td>3 000 руб.</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm">Отключить</button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th scope="row">Итого:</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th scope="row">3 910 руб.</th>

                </tr>
                </tfoot>

            </table>
        </div>
    </main>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-success" type="button">Дабавить услуги</button>

    </div>

{% endblock %}
